<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title> Admin - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link rel="icon" href="/img/favicon.ico" />
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{/css/sb-admin-2.min.css}" type="text/css" rel="stylesheet"/>
  <link rel="stylesheet" type="text/css" href="/css/maps.css">
  
  <!-- Import Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/car-sharing/utilities.js"></script>
  <script type="text/javascript" src="/js/car-sharing/maps.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier/1.0.3/oms.min.js"></script>

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Admin</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/dashboard}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        User 
      </div>

      <!-- Nav Item - Add User -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/createUser}">
          <i class="fas fa-fw fa-plus"></i>
          <span>Add User</span></a>
      </li>

      <!-- Nav Item - View Users -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/view-all-users}">
          <i class="fas fa-fw fa-users"></i>
          <span>View Users</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Car 
      </div>

      <!-- Nav Item - Add Car -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/car/add-car}">
          <i class="fas fa-fw fa-plus"></i>
          <span>Add Car</span></a>
      </li>

      <!-- Nav Item - View Users -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/car/view-all-cars}">
          <i class="fas fa-car"></i>
          <span>View Cars</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Request 
      </div>

      <!-- Nav Item - View Requests -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/view-all-requests}">
          <i class="fas fa-list-ul"></i>
          <span>View Requests</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Payment 
      </div>

      <!-- Nav Item - Stripe -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/admin/stripe-dashboard}">
          <i class="fab fa-cc-stripe fa-2x"></i>
          <span>Stripe Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          
          <!-- Topbar Page Name -->
          <div class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search input-group">
            <h1 class="h5 mb-0 text-gray-800">Dashboard</h1>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">
            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <td th:text="${username}"></td>
                </span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Notification -->
          <div class="toast position-absolute" role="alert" th:if="${message != null and messageCode != null}" style="right:20px; z-index: 5;"
               aria-live="polite" aria-atomic="true" data-delay="5000">
             
             <div class="toast-header bg-gradient-success text-gray-100" th:if="${#strings.contains(messageCode, 'Success')}" th:text="${messageCode}">
                <!-- Success -->
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#007aff" width="100%" height="100%" /></svg>
                <strong class="mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-header bg-gradient-danger text-gray-100" th:if="${#strings.contains(messageCode, 'Error')}" th:text="${messageCode}">
                <!-- Error -->
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#007aff" width="100%" height="100%" /></svg>
                <strong class="mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-header bg-gradient-warning text-gray-100" th:if="${#strings.contains(messageCode, 'Warning')}" th:text="${messageCode}">
                <!-- Warning -->
                <svg class="bd-placeholder-img rounded mr-2" width="20" height="20" xmlns="http://www.w3.org/2000/svg"
                     preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect fill="#007aff" width="100%" height="100%" /></svg>
                <strong class="mr-auto"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-body" th:text="${message}"></div>
          </div>
          

          <!-- Content Row -->
          <div class="row">

            <!-- Users in System -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <a th:href="@{/admin/view-all-users}">
                     <div class="row no-gutters align-items-center">
                       <div class="col mr-2">
                         <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Users in system</div>
                         <div class="h5 mb-0 font-weight-bold text-gray-800">
                             <td th:text="${userCount}"></td>
                         </div>
                       </div>
                       <div class="col-auto">
                         <i class="fas fa-users fa-2x text-gray-300"></i>
                       </div>
                     </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Number of Cars -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                 <a th:href="@{/car/view-all-cars}">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Cars in System</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                        <td th:text="${totalCars}"></td>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-car fa-2x text-gray-300"></i>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>

            <!-- Cars in Use  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Cars in Use</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col-auto">
                          <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">
                              <td th:text="${activeCars}"></td>
                          </div>
                        </div>
                        <div class="col">
                          <div class="progress progress-sm mr-2">
                            <div class="progress-bar bg-info" role="progressbar" aria-valuemin="0" aria-valuemax="100" th:attr="style='width: '+${activeCars}+ '%'"></div>
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Requests -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                  <a th:href="@{/admin/view-all-requests}">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Requests Made</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">
                           <td th:text="${requests}"></td>
                      </div>
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-tasks fa-2x text-gray-300"></i>
                    </div>
                  </div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <!-- Content Row -->
         <div class="row">
            
         </div>
          <div class="row">
            
            <!-- Car Locations Google Map View -->
            <div class="col-12">
              <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary" th:text="'Car Locations (' + ${totalCars} + ')'"></h6>
                </div>
                
                <!-- Card Body -->
                <div class="card-body">
                  <div class="col-xl-12 col-lg-12 col-md-10 mx-auto" style="height: 800px">
                     <!-- Google Maps View -->
                     <div class="card position-relative mb-5" id="map" style="position:absolute">
                       <script type="text/javascript" th:inline="javascript">
                         /*<![CDATA[*/
                             var map;
                             var infowindow;
                             var oms;
                             //var lat_min = 52.0;
                             //var lat_max = 53.0;
                             //var lng_min = -1.0;
                             //var lng_max = -1.2;
                             
                             var markers = [];
                             var markerCluster;
                             //Parse locations to JSON
                             var carLocations = JSON.parse([[${locations}]]);
                             
                             var boundary = new google.maps.LatLng();
                             
                             function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                   center: {lat: 52.6369, lng: -1.1398},
                                   zoom: 14,
                                   options: {
                                	     clickableIcons: false,
                                	     minZoom: 7,
                                	     maxZoom: 18,
                                	     gestureHandling: 'greedy'
                                	   }
                                });

                                var geocoder = new google.maps.Geocoder;
                                infowindow = new google.maps.InfoWindow;
                                
                                oms = new OverlappingMarkerSpiderfier(map, {
                                	  markersWontMove: true,
                                	  markersWontHide: true,
                                	  basicFormatEvents: true,
                                	  ignoreMapClick: true,
                                	  keepSpiderfied: false
                                	});
                                
                                //Geocode cars
                                for (var m = 0; m < carLocations.length; m++) {
                                   //Parse car's coordinates
                                   var latlng = {
                                       lat: parseFloat(carLocations[m][1]),
                                       lng: parseFloat(carLocations[m][2])
                                   };
                                   //Geocode coordinates
                                   //geocodeLatLng(geocoder, map, infowindow, latlng, m);
                                   var spiderM = createMarker(latlng, '', m);
                                   oms.addMarker(spiderM);
                                   setTimeout(250);
                                 }
                                oms.markersNearAnyOtherMarker();
                             }
                             
                             //Geocode coordinates and add marker
                             function geocodeLatLng(geocoder, map, infowindow, latlng, index) {
                            	 geocoder.geocode({'location': latlng}, function(results, status) {
                                   if (status === 'OK') {
                                      if (results[0]){
                                         //map.setCenter(results[0].geometry.location);
                                         
                                         //Create marker with info window
                                         var spiderM = createMarker(results[0].geometry.location, results[0].formatted_address, index);
                                         oms.addMarker(spiderM);
                                           
                                         return results[0].formatted_address;
                                      } else {
                                          window.alert('No results found');
                                      }
                                   } else if (status === 'OVER_QUERY_LIMIT') {
                                       setTimeout(500);
                                   } else {
                                       window.alert('Geocoder failed due to: ' + status);
                                   }
                               });
                             }
                             
                             var image="https://www.freepik.com/free-icon/car-icon_739336.htm";
                             
                             //Place Marker on coordinates  
                             function createMarker(latlng, html, index){
                                //Create marker & place on map
                                var marker = new google.maps.Marker({
                                      position: latlng,
                                      draggable: false,
                                      animation: google.maps.Animation.DROP,
                                      map: map,
                                      stopCoords: latlng,
                                      icon: image
                                });
                                //Get car's registration number
                                var registrationNumber = carLocations[index][0];
                                
                                //Marker infowindow text
                                var contentString = '<a href="/car/view-car/' + registrationNumber + '">' + registrationNumber + '  (Details)</a><br>' + html ;
                                   
                                //Show information on marker click
                                google.maps.event.addListener(marker, 'spider_click', function() {
                                 	 map.panTo(marker.getPosition());
                                   	 map.setZoom(16);
                                     infowindow.setContent(contentString);
                                     infowindow.open(map, marker);
                                });
                                
                                return marker;
                             } 
                           /*]]*/
                       </script>
                       
                       <script async defer
                         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi9qsACSRpv-drbqKhofMzyVFf_Hr_fI0&callback=initMap">
                       </script>
                     </div>
                    </div>
                  <div>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>

          <!-- Content Row -->
          <div class="row">


            <div class="col-lg-6 mb-4">

              <!-- Project Card Example -->
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-primary">Summary</h6>
                </div>
                <div class="card-body">
                  <h4 class="small font-weight-bold">
                     Verified User Accounts 
                     <span class="float-right"  th:with="verifiedUser=${verifiedUsers}/${userCount}*100" 
                           th:text="${#numbers.formatDecimal(verifiedUser, 1, 'DEFAULT', 2, 'POINT')} + '%'">
                     </span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-success" role="progressbar" th:if="${userCount != 0}" th:attr="style='width: '+${verifiedUsers}/${userCount}*100 + '%'" 
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">
                     Requests Completed 
                     <span class="float-right" th:if="${requests != 0}" th:with="completedRequest=${completedRequests}/${requests}*100" 
                           th:text="${#numbers.formatDecimal(completedRequest, 1, 'DEFAULT', 2, 'POINT')} + '%'">
                     </span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:if="${requests != 0}" th:attr="style='width: '+${completedRequests}/${requests}*100 + '%'" 
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">
                     Requests In Progress 
                     <span class="float-right" th:if="${requests != 0}" th:with="activeRequest=${activeRequests}/${requests}*100" 
                           th:text="${#numbers.formatDecimal(activeRequest, 1, 'DEFAULT', 2, 'POINT')} + '%'">
                     </span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar" role="progressbar" th:if="${requests != 0}" th:attr="style='width: '+${activeRequests}/${requests}*100 + '%'" 
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">
                     Requests Unfulfilled 
                     <span class="float-right" th:if="${requests != 0}" th:with="unfulfilledRequest=${unfulfilledRequests}/${requests}*100" 
                           th:text="${#numbers.formatDecimal(unfulfilledRequest, 1, 'DEFAULT', 2, 'POINT')} + '%'">
                     </span>
                  </h4>
                  <div class="progress mb-4">
                    <div class="progress-bar bg-warning" role="progressbar" th:if="${requests != 0}" th:attr="style='width: '+${unfulfilledRequests}/${requests}*100 + '%'" 
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <h4 class="small font-weight-bold">
                     Requests Cancelled 
                     <span class="float-right" th:if="${requests != 0}" th:with="cancelledRequest=${cancelledRequests}/${requests}*100" 
                           th:text="${#numbers.formatDecimal(cancelledRequest, 1, 'DEFAULT', 2, 'POINT')} + '%'">
                     </span>
                  </h4>
                  <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" th:attr="style='width: '+${cancelledRequests}/${requests}*100 + '%'" 
                         aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; <strong> <a href="https://github.com/moa38">moa38</a> </strong> 2019 </span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
