<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Car Sharing - Active Request</title>

  <!-- Custom fonts for this template-->
  <link rel="icon" href="/img/favicon.ico" />
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Custom styles for this template>
  <link href="css/sb-admin-2.min.css" rel="stylesheet"-->
  <link th:href="@{/css/sb-admin-2.min.css}" type="text/css" rel="stylesheet"/> 

  <!-- Google Maps Style -->
  <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
  </style>
   <!-- SSE Handler -->
  <script>
     function initialize() {
    	  var requestID = [[${requestID}]]; 
        
    	  // Open connection
    	  // check if it's from a correct source https://www.html5rocks.com/en/tutorials/eventsource/basics/
    	  const eventSource = new EventSource('http://localhost:8080/sse/notification/' + requestID);
        eventSource.onmessage = e => {
            const msg = e.data;
            const msgID = e.lastEventId;
            
            // Request hasn't started
            if (msgID == 'unstarted') {
            	//$('#time').text(msg);
            	console.log("id: " + e.lastEventId  + ", data: " + e.data);
            }
            // Request is active
            else if (msgID == 'active') {
                $('#time').text(msg);
                console.log("id: " + e.lastEventId  + ", data: " + e.data);   
                //setTimeout(function() {
                    //location.reload();
                //}, 3000);
            }
            // Request has ended
            else if (msgID == 'ended') {
            	// Close connection
            	eventSource.close();
            	
            	// Show timer modal
            	$('#requestInfoModal').modal('show');

            	// Change HTML text
            	$('#time').text(msg);
            	$('#status').text('Completed');
            	
            	// Remove Div  
            	$('#timerGroup').remove();
            	$('#buttonDiv').remove();
            	//$('#cancelBtn').text("Ended");

            	// Refresh page
            	countdownTimer(15);
            	setTimeout(function() {
            	    //location.reload();
            	    window.location.href='/user/dashboard';
            	}, 150000);
            }
            else {
            	$('#time').text(msg);
            	
               console.log("id: " + e.lastEventId  + ", data: " + e.data);
            } 
         };
         eventSource.onopen = e => console.log('open');
         eventSource.onerror = e => {
            if (e.readyState == EventSource.CLOSED) {
               console.log('close');
            }
            else {
               console.log(e);
            }
         };
         eventSource.addEventListener('second', function(e) {
            console.log('second', e.data);
         }, false);
      }
     window.onload = initialize;
     
     function countdownTimer(time) {
        var seconds = time;
        $("countdown").text(seconds);
        
        setInterval(function () {
           seconds--;
           //console.log("Seconds " + seconds);
           document.getElementById("countdown").innerHTML = seconds;
           if (seconds == 0) {
              window.location.href='/user/dashboard';
           }
        }, 1000);
     } 
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-car"></i>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      
      <!-- Nav Item - View Car -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/user/active-request/} + ${{requestID}}">
          <i class="fas fa-fw fa-eye"></i>
          <span>Active Request</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user/history}">
          <i class="fas fa-list fa-sm fa-fw mr-2"></i>
          <span>History</span></a>
      </li>

      <!-- Nav Item - Wallet -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/payment/wallet}">
          <i class="fas fa-credit-card"></i>
          <span>Wallet</span></a>
      </li>
      
      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/account/profile}">
          <i class="fas fa-fw fa-user"></i>
          <span>Profile</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Page Name -->
          <div class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search input-group">
            <h1 class="h5 mb-0 text-gray-800">Request Details</h1>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <td th:text="${username}"></td>
                </span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/account/profile}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row justify-content-center">
            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-6 col-md-5 mx-auto">
               <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                     <h6 class="m-0 font-weight-bold text-primary">Your Car is Ready</h6>
                     <div id="status" class="dropdown no-arrow" th:text="${request.status}">

                     </div>
                  </div>
                  
                  <!-- Card Body -->
                  <div class="card-body">
                  <div class="card-body" th:with="startTime=${request.startTime},endTime=${request.endTime}">
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Time</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${#temporals.format(startTime, 'h:mm a')} + ' - ' + ${#temporals.format(endTime, 'h:mm a')}"></td>
                        </div>
                     </div>
                     <div class="d-none d-md-block d-lg-block d-xl-block">
                        <div class="form-group row" id="timerGroup">
                           <div class="col-sm-3 mb-3 mb-sm-0">
                              <strong><td>Time</td></strong>
                           </div>
                           <div class="col-sm-6 mx-auto">
                              <span id="time"></span>
                           </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Car</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.car.carMake} + ' ' + ${request.car.carName} + ' - ' + ${request.car.carColor}"></td>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Car Registration No.</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.car.registrationNumber}"></td>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Access Code</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.accessCode}"></td>
                        </div>
                     </div>
                     <div id="buttonDiv">
                        <hr>
                        <a href="#" id="infoBtn" class="btn btn-dark btn-outline btn-md float-left" data-toggle="modal" data-target="#infoModal">
                           <i class="fas fa-info fa-sm m-1"></i>
                        </a>
                        <div class="float-right" role="group" th:if="${request.car.unlocked == false}">
                           <a class="btn btn-dark btn-outline btn-md" th:href="@{/user/unlock-car/} + ${request.requestID} + '/' + ${request.accessCode}" id="unlockBtn">
                              <span class="text">Unlock</span>
                              <!-- i class="fas fa-key fas-sm"></i-->
                           </a>
                           <a href="#" class="btn btn-danger btn-outline btn-md" id="cancelBtn" data-toggle="modal" data-target="#cancelModal">
                              <span class="text">Cancel</span>
                           </a>
                        </div>
                        <div class="float-right" role="group" th:if="${request.car.unlocked == true}">
                           <a href="#" class="btn btn-danger btn-outline btn-md"  th:href="@{/user/end-request/} + ${request.requestID} " 
                              id="endBtn" data-toggle="modal" data-target="#endModal">
                              <span class="text">End</span>
                           </a>
                        </div>
                     </div>
                  </div>
            
                 </div>
               </div>
            </div>
          </div>

        </div>
        
        <!-- /.container-fluid -->
        <!-- Map View -->
        <div class="row pb-5" th:if="${request.status != null and not #strings.contains(request.status, 'Cancelled')}">
           <!-- Card Body -->
           <div class="card-body">
              <div class="col-xl-4 col-lg-10 col-md-10 mx-auto" style="height: 500px">
                 <label class="text-primary">
                    <span id="pickup"></span> 
                       <i class="fas fa-long-arrow-alt-right ml-1 mr-1"></i>
                    <span id="dropoff"></span>
                    <a class="badge badge-dark mt-2 text-gray-100" th:href="@{https://www.google.co.uk/maps?saddr=My+Location&daddr=} + 
                       ${request.pickupLocation.latitude} + ',' + ${request.pickupLocation.longitude}">Show Directions</a>
                 </label>
                 <div class="card position-relative" id="map" style="position:absolute">
                    <!-- Google Maps Autocomplete & Directions -->
                    <script>
                     
                         var map;
                         var directionsService;
                         var directionsRenderer;
                         var travelMode = 'DRIVING';
                         
                         var startlatitude = [[${request.pickupLocation.latitude}]]; 
                         var startlongitude = [[${request.pickupLocation.longitude}]];
                         
                         var endlatitude = [[${request.dropoffLocation.latitude}]]; 
                         var endlongitude = [[${request.dropoffLocation.longitude}]];
                         
                         var originInput = {
                                 lat: startlatitude, 
                                 lng: startlongitude
                         };
                         var destinationInput = {
                                 lat: endlatitude, 
                                 lng: endlongitude
                         };
               
                         function initMap() {
                            //var travelMode = 'DRIVING';
                            directionsService = new google.maps.DirectionsService;
                            directionsRenderer = new google.maps.DirectionsRenderer({
                                label: 'Point',
                                markerOptions: {
                                      draggable: false,
                                      animation: google.maps.Animation.DROP,
                                      map: map,
                                      //icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
                                },
                                polylineOptions: {
                                      strokeColor: "black",
                                      //suppressMarkers: true
                                   }
                            });
                            
                            map = new google.maps.Map(document.getElementById('map'), {
                               mapTypeControl: false,
                               center: {lat: 52.6369, lng: -1.1398},
                               zoom: 18,
                               options: {
                                   clickableIcons: false,       // Disable map icons
                                   streetViewControl: false,    // Disable street view
                                   fullscreenControl: false,    // Disable fullscreen button
                                   zoomControl: false,
                                   gestureHandling: 'none',
                                   draggable: false
                                 }
                            });
                            directionsRenderer.setMap(map);
                            
                            calcRoute(originInput, destinationInput, directionsService, directionsRenderer);
                         }
                         
                         function calcRoute(originInput, destinationInput, directionsService, directionsRenderer) {
                             var request = {
                               origin: originInput,
                               destination: destinationInput,
                               travelMode: 'DRIVING'
                             };
                             directionsService.route(request, function(result, status) {
                               if (status == 'OK') {
                                 directionsRenderer.setDirections(result);
                                 var leg = result.routes[0].legs[0];
                                 
                                 $("#pickup").text(leg.start_address);
                                 $("#dropoff").text(leg.end_address);
                                 
                                 map.setZoom(16);
                               }
                             });
                           }
                        
                     </script>
                     <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi9qsACSRpv-drbqKhofMzyVFf_Hr_fI0&libraries=places&callback=initMap">
                     </script>
                    
                    </div>
                 </div>
              </div>
              <!-- End of Map View -->
            </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; <strong> <a href="https://github.com/moa38">moa38</a> </strong> 2019 </span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Cancellation Modal-->
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header h5 mb-0 text-gray-800">
           <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>
         <div class="modal-body">
           <span>
             There is a base charge for canceling a request. Select "yes" below if you are ready to end to cancel your request.
           </span>
         </div>
         <div class="modal-footer">
           <button class="btn btn-md btn-secondary" type="button" data-dismiss="modal">No</button>
           <a class="btn btn-md btn-danger" th:href="@{/user/cancel-request/} + ${request.requestID}">Yes</a>
         </div>
       </div>
     </div>
  </div>
  
  <!-- Time Modal-->
  <div class="modal fade" id="requestInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="h5 mb-0 text-gray-800" id="exampleModalLabel">Time has ended</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
           <span>Your request time has ended. Thanks for using our service. You will be redirected to the dashboard in 
              <span class="font-weight-bold text-danger" id="countdown"></span> seconds
           </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModallLabel" aria-modal="true">
    <div role="document" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="h5 mb-0 text-gray-900 font-italic" id="infoModalLabel" >How Tos</h5>
          <button dusk="close_info_modal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body text-gray-800">
          <p> Here's information on how to use the find and access the car, as well as how to complete/end the request.
           </p>
           <div id="accordion">
             <!-- Find the car -->
             <div class="card">
               <div id="headingOne" class="card-header p-1">
                 <h5 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                   <button class="btn btn-link">
                        How to find the car?
                   </button>
                 </h5>
               </div>
               <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show" style="">
                 <div class="card-body">
                   <b class="">Step 1</b>
                   <p> Go to the pickup location by clicking the <i><strong>Show Directions</strong></i> button which 
                        will automatically open directions in Google Maps.
                   </p>
                   <b class="">Step 2</b>
                   <p> Identify the car using the registration number and description.       
                   </p>
                 </div>
               </div>
             </div>
             <!-- Use the car -->
             <div class="card">
               <div id="headingTwo" class="card-header p-1">
                 <h5 class="mb-0" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   <button class="btn btn-link collapsed">
                        How to use the car?
                   </button>
                 </h5>
               </div>
               <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                 <div class="card-body">
                   <p>     After following the steps of <i>"How to find the car?"</i></p>
                   <b class="">Step 1</b>
                   <p> You can unlock the car by clicking the <i><strong>Unlock</strong></i> button one minute before your requested start time. 
                   </p>
                   <b class="">Step 2</b>
                   <p> Type your access code into the number pad on the car handle to enter the car. 
                   </p>
                   <b class="">Step 3</b>
                   <p> Drive safely   &#128578
                   </p>
                 </div>
               </div>
             </div>
             <!-- End request -->
             <div class="card">
               <div id="headingThree" class="card-header p-1">
                 <h5 class="mb-0" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                   <button class="btn btn-link collapsed">
                     How to end the request?
                   </button>
                 </h5>
               </div>
               <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                 <div class="card-body">
                    Once you arrive at the dropoff location, simply exit the car and click the <i><strong>End</strong></i> button. 
                    <br>
                    This will lock the car and complete your request. 
                    <br><br>
                    If you don't end the request, it will end automatically after the requested ending time has passed and 
                    you will have <strong>15 seconds</strong> to park and exit the car before it is locked automatically. 
                  </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
  
  
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>
  
</body>

</html>
