<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Car Sharing - Active Request</title>

  <!-- Custom fonts for this template-->
  <link rel="icon" href="/img/favicon.ico" />
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
  
  <!-- Custom styles for this template-->
  <link type="text/css" rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}"/> 
  <link rel="stylesheet" type="text/css" href="/css/maps.css">
  
  <!-- Import Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/car-sharing/utilities.js"></script>
  <script type="text/javascript" src="/js/car-sharing/sse-handler.js"></script>
  <script type="text/javascript" src="/js/car-sharing/maps.js"></script>

  <!-- SSE Handler -->
  <script>
     function initialize() {
    	  var requestID = [[${requestID}]]; 
        
    	  // Open connection
    	  // check if it's from a correct source https://www.html5rocks.com/en/tutorials/eventsource/basics/
    	  const eventSource = new EventSource('http://localhost:8080/sse/notification/' + requestID);
    	  
    	  initializeSSE(eventSource);
      }
     window.onload = initialize;
  </script>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gray-900 sidebar sidebar-dark accordion toggled" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/dashboard}">
        <div class="sidebar-brand-icon">
          <i class="fas fa-car"></i>
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      
      <!-- Nav Item - View Car -->
      <li class="nav-item active">
        <a class="nav-link" th:href="@{/user/active-request/} + ${{requestID}}">
          <i class="fas fa-fw fa-eye"></i>
          <span>Active Request</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Menu
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      
      <!-- Nav Item - Charts -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user/history}">
          <i class="fas fa-list fa-sm fa-fw mr-2"></i>
          <span>History</span></a>
      </li>

      <!-- Nav Item - Wallet -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/payment/wallet}">
          <i class="fas fa-credit-card"></i>
          <span>Wallet</span></a>
      </li>
      
      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/account/profile}">
          <i class="fas fa-fw fa-user"></i>
          <span>Profile</span></a>
      </li>
      
      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      
      <!-- Nav Item - Profile -->
      <li class="nav-item">
        <a class="nav-link" th:href="@{/FAQ}">
          <i class="fas fa-info-circle"></i>
          <span>FAQ</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column text-gray-900">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Page Name -->
          <div class="d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search input-group">
            <h1 class="h5 mb-0 text-gray-800">Request Details</h1>
          </div>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <!-- Dropdown - Messages -->
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
                <form class="form-inline mr-auto w-100 navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <td th:text="${username}"></td>
                </span>
                <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" th:href="@{/account/profile}">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" th:href="@{/user/history}">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  History
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" th:href="@{/logout}">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Notification -->
          <div class="toast" role="alert" th:if="${message != null and messageCode != null}" style="position: absolute; right:20px; z-index: 5;"
               aria-live="assertive" aria-atomic="true" data-delay="5000">
             
             <div class="toast-header bg-gradient-success text-gray-100" th:if="${#strings.contains(messageCode, 'Success')}">
                <!-- Success -->
                <i class="fas fa-check rounded mr-2"></i>
                <strong class="mr-auto" th:text="${messageCode}"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-header bg-gradient-danger text-gray-100" th:if="${#strings.contains(messageCode, 'Error')}">
                <!-- Error -->
                <i class="fas fa-exclamation rounded mr-2"></i>
                <strong class="mr-auto" th:text="${messageCode}"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-header bg-gradient-warning text-gray-100" th:if="${#strings.contains(messageCode, 'Warning')}">
                <!-- Warning -->
                <i class="fas fa-exclamation-triangle rounded mr-2"></i>
                <strong class="mr-auto" th:text="${messageCode}"></strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                </button>
             </div>
             <div class="toast-body font-weight-bold" th:text="${message}"></div>
          </div>
          
          <!-- Content Row -->
          <div class="row justify-content-center">
          
            <!-- Area Chart -->
            <div class="col-xl-4 col-lg-6 col-md-5 mx-auto">
               <div class="card shadow mb-4">
                  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                     <h6 class="m-0 font-weight-bold text-primary">Your Car is Ready</h6>
                     <div id="status" class="dropdown no-arrow" th:text="${request.status}"></div>
                  </div>
                  
                  <!-- Card Body -->
                  <div class="card-body">
                  <div class="card-body" th:with="startTime=${request.startTime},endTime=${request.endTime}">
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Time</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${#temporals.format(startTime, 'h:mm a')} + ' - ' + ${#temporals.format(endTime, 'h:mm a')}"></td>
                        </div>
                     </div>
                     <div class="d-none d-md-block d-lg-block d-xl-block">
                        <div class="form-group row" id="timerGroup">
                           <div class="col-sm-3 mb-3 mb-sm-0">
                              <strong><td>Time</td></strong>
                           </div>
                           <div class="col-sm-6 mx-auto">
                              <span id="time"></span>
                           </div>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Car</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.car.carMake} + ' ' + ${request.car.carName} + ' - ' + ${request.car.carColor}"></td>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Car Registration No.</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.car.registrationNumber}"></td>
                        </div>
                     </div>
                     <div class="form-group row">
                        <div class="col-sm-3 mb-3 mb-sm-0">
                           <strong><td>Access Code</td></strong>
                        </div>
                        <div class="col-sm-6 mx-auto">
                           <td th:text="${request.accessCode}"></td>
                        </div>
                     </div>
                     <div id="buttonDiv">
                        <hr>
                        <a href="#" id="infoBtn" class="btn btn-dark btn-outline btn-md float-left" data-toggle="modal" data-target="#infoModal">
                           <i class="fas fa-info fa-sm m-1"></i>
                        </a>
                        <div class="float-right" role="group" th:if="${request.car.unlocked == false}">
                           <a class="btn bg-gray-900 btn-outline btn-md" th:href="@{/user/unlock-car/} + ${request.requestID} + '/' + ${request.accessCode}" id="unlockBtn">
                              <span class="text-gray-100">Unlock</span>
                           </a>
                           <a href="#" class="btn btn-danger btn-outline btn-md" id="cancelBtn" data-toggle="modal" data-target="#cancelModal">
                              <span class="text">Cancel</span>
                           </a>
                        </div>
                        <div class="float-right" role="group" th:if="${request.car.unlocked == true}">
                           <a href="#" class="btn btn-danger btn-outline btn-md" id="endBtn" data-toggle="modal" data-target="#endModal">
                              <span class="text">End</span>
                           </a>
                        </div>
                     </div>
                  </div>
            
                 </div>
               </div>
            </div>
          </div>

        </div>
        
        <!-- /.container-fluid -->
        <!-- Map View -->
        <div class="row pb-5" th:if="${request.status != null and not #strings.contains(request.status, 'Cancelled')}">
           <!-- Card Body -->
           <div class="card-body">
              <div class="col-xl-4 col-lg-10 col-md-10 mx-auto" style="height: 500px">
                 <label class="text-primary">
                    <span id="pickup"></span> 
                       <i class="fas fa-long-arrow-alt-right ml-1 mr-1"></i>
                    <span id="dropoff"></span>
                    <a class="badge badge-dark mt-2 text-gray-100" th:href="@{https://www.google.co.uk/maps?saddr=My+Location&daddr=} + 
                       ${request.pickupLocation.latitude} + ',' + ${request.pickupLocation.longitude}">Show Directions</a>
                 </label>
                 <div class="card position-relative" id="map" style="position:absolute">
                    <!-- Google Maps Autocomplete & Directions -->
                    <script>
                     
                         var map;
                         var directionsService;
                         var directionsRenderer;
                         
                         var startlatitude = [[${request.pickupLocation.latitude}]]; 
                         var startlongitude = [[${request.pickupLocation.longitude}]];
                         
                         var endlatitude = [[${request.dropoffLocation.latitude}]]; 
                         var endlongitude = [[${request.dropoffLocation.longitude}]];
                         
                         var originInput = {
                                 lat: startlatitude, 
                                 lng: startlongitude
                         };
                         var destinationInput = {
                                 lat: endlatitude, 
                                 lng: endlongitude
                         };
               
                         function initMap() {
                        	 requestViewInitializer(map, directionsService, directionsRenderer);
                         }
                     </script>
                     <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAi9qsACSRpv-drbqKhofMzyVFf_Hr_fI0&libraries=places&callback=initMap">
                     </script>
                    
                    </div>
                 </div>
              </div>
              <!-- End of Map View -->
            </div>
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; <strong> <a href="https://github.com/moa38">moa38</a> </strong> 2019 </span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  
  <!-- Cancellation Modal-->
  <div class="modal fade" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header h5 mb-0 text-gray-800">
           <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>
         <div class="modal-body">
           <span>
             There is a base charge for canceling a request. Select "yes" below if you are ready to end to cancel your request.
           </span>
         </div>
         <div class="modal-footer">
           <button class="btn btn-md btn-secondary" type="button" data-dismiss="modal">No</button>
           <a class="btn btn-md btn-danger" th:href="@{/user/cancel-request/} + ${request.requestID}">Yes</a>
         </div>
       </div>
     </div>
  </div>
  
  <!-- End Modal-->
  <div class="modal fade" id="endModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
     <div class="modal-dialog modal-dialog-centered" role="document">
       <div class="modal-content">
         <div class="modal-header h5 mb-0 text-gray-800">
           <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
           <button class="close" type="button" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">×</span>
           </button>
         </div>
         <div class="modal-body">
           <span>
             You will be completing your request earlier than your requested time. Select "yes" below if you are ready to end to proceed.
           </span>
         </div>
         <div class="modal-footer">
           <button class="btn btn-md btn-secondary" type="button" data-dismiss="modal">No</button>
           <a class="btn btn-md btn-danger" th:href="@{/user/end-request/} + ${request.requestID}">Yes</a>
         </div>
       </div>
     </div>
  </div>
  
  <!-- Time Modal-->
  <div class="modal fade" id="requestInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="h5 mb-0 text-gray-800" id="exampleModalLabel">Time has ended</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
           <span>Your request time has ended. Thanks for using our service. You will be redirected to the dashboard in 
              <span class="font-weight-bold text-danger" id="countdown"></span> seconds
           </span>
        </div>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="infoModallLabel" aria-modal="true">
    <div role="document" class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="h5 mb-0 text-gray-900 font-italic" id="infoModalLabel" >How Tos</h5>
          <button dusk="close_info_modal" type="button" data-dismiss="modal" aria-label="Close" class="close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body text-gray-800">
          <p> Here's information on how to find the car, access the car and begin your request, as well as how to complete/end the request.
           </p>
           <div id="accordion">
             <!-- Find the car -->
             <div class="card">
               <a class="card-header p-1" role="button" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                 <h5 class="mb-0" >
                   <button class="btn btn-link">
                        How to find the car?
                   </button>
                 </h5>
               </a>
               <div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion" class="collapse show" style="">
                 <div class="card-body">
                   <b class="">Step 1</b>
                   <p> Go to the pickup location by clicking the <i><strong>Show Directions</strong></i> button which 
                        will automatically open directions in Google Maps.
                   </p>
                   <b class="">Step 2</b>
                   <p> Identify the car using the registration number and description.       
                   </p>
                 </div>
               </div>
             </div>
             <!-- Use the car -->
             <div class="card">
               <a class="card-header p-1" role="button" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 <h5 class="mb-0" >
                   <button class="btn btn-link collapsed">
                        How to use the car?
                   </button>
                 </h5>
               </a>
               <div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion" class="collapse">
                 <div class="card-body">
                   <p> After following the steps of <i>"How to find the car?"</i></p>
                   <b class="">Step 1</b>
                   <p> You can unlock the car by clicking the <i><strong>Unlock</strong></i> button one minute before your requested start time. 
                   </p>
                   <b class="">Step 2</b>
                   <p> Type your access code into the number pad on the car handle to enter the car. 
                   </p>
                   <b class="">Step 3</b>
                   <p> Drive safely   &#128578
                   </p>
                 </div>
               </div>
             </div>
             <!-- End request -->
             <div class="card">
               <a class="card-header p-1" role="button" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                 <h5 class="mb-0" >
                   <button class="btn btn-link collapsed">
                     How to end the request?
                   </button>
                 </h5>
               </a>
               <div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion" class="collapse">
                 <div class="card-body">
                    Once you arrive at the drop-off location, simply exit the car and click the <i><strong>End</strong></i> button. 
                    <br>
                    This will lock the car and complete your request. 
                    <br><br>
                    If you do not end the request, it will end automatically after the requested end time has passed and you will have 
                    c<strong>1 minute</strong> to park, take your personal belongings and exit the car before it is locked automatically. 
                  </div>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
  
  <!-- Show Notification -->
   <script>
   //Show Notification
   notificationAlert();
   
   </script>
  
  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>
  
</body>

</html>
